@using Microsoft.AspNetCore.Identity
@using CBTIS223_v2.Models
@using CBTIS223_v2.Controllers;
@model Institucione

@{
    Layout = null;
    Institucione Datos = ViewBag.Datos;

}

<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>CRUD Institución</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- Bootstrap JavaScript and Popper.js -->  <!-- Permite funcionar el menu minimizado -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/institucion.css" asp-append-version="true" />

    <!-- Font Awesome CSS -->
    <script src="https://kit.fontawesome.com/1ca77c727c.js" crossorigin="anonymous"></script>

</head>
<!-- CSS -->

<body class="bg-white">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <!-- Left Column: User Creation -->
                <div class="col-md-4">
                    <form method="post" asp-action="EditarInstitucion" asp-controller="EditarIns">
                        <h4 class="mt-4">Editar Institución</h4>
                        <div class="mb-3">
                            <label for="Institucion" class="form-label"><strong>ID</strong></label>
                            <input type="text" class="form-control" id="IdInstitucion" name="IdInstitucion" value="@Datos.IdInstitucion" required readonly>
                        </div>
                        <div class="mb-3">
                            <label for="Institucion" class="form-label"><strong>Institución:</strong></label>
                            <input type="text" class="form-control" id="Institucion" value="@Datos.Institucion" name="Institucion" required>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="Tipo" class="form-label"><strong>Tipo:</strong></label>
                                <select class="form-select" id="TipoInstitucion" name="TipoInstitucion" required>
                                    <option selected>Selecciona el tipo de institucion</option>
                                    <option value="Publica">Publica</option>
                                    <option value="Privada">Privada</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Responsable" class="form-label"><strong>Responsable de la Institución:</strong></label>
                            <input type="text" class="form-control" id="Supervisor" value="@Datos.Supervisor" name="Supervisor" required>
                        </div>
                        <div class="mb-3">
                            <label for="Calle" class="form-label"><strong>Calle:</strong></label>
                            <input type="text" class="form-control" id="Calle" value="@Datos.Calle" name="Calle" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                         <div class="mb-3">
                            <label for="NoCalle" class="form-label"><strong>No. Calle:</strong></label>
                            <input type="text" class="form-control" id="NoCalle" value="@Datos.NoCalle" name="NoCalle"  pattern="[0-9]{1,10}" title="El formato debe ser numerico Ej. 112" required>
                        </div>
                         <div class="mb-3">
                            <label for="CodigoPostals" class="form-label"><strong>Código Postal:</strong></label>
                            <input type="text" class="form-control" id="CodigoPostal" value="@Datos.CodigoPostal" name="CodigoPostal" pattern="[0-9]{5}" title="El formato debe ser numerico Ej. 12345" required>
                        </div>
                         <div class="mb-3">
                            <label for="Colonia" class="form-label"><strong>Colonia:</strong></label>
                            <input type="text" class="form-control" id="Colonia" value="@Datos.Colonia" name="Colonia" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                         <div class="mb-3">
                            <label for="Municipio" class="form-label"><strong>Municipio:</strong></label>
                            <input type="text" class="form-control" id="Municipio" value="@Datos.Municipio" name="Municipio" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                         <div class="mb-3">
                            <label for="Estado" class="form-label"><strong>Estado:</strong></label>
                            <input type="text" class="form-control" id="Estado" value="@Datos.Estado" name="Estado" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="row mb-3 mb-4">
                            <div class="col-md-6">
                                <div class="button-row text-md-end text-center">
                                    <button type="submit" class="btn w-100 btnclr">Crear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <footer>
                <p>CBtis 223 &copy; 2023. Todos los derechos reservados.</p>
                <p>Contacto: </p>
            </footer>
        </div>
</body>

</html>
