@using Microsoft.AspNetCore.Identity
@model Escuela
@{
    ViewBag.Title = "Editar Escuela";
    Layout = "_Layout";
    Escuela Datos = ViewBag.Datos;
}
            <div class="row">
                <!-- Tabla -->
                <div class="col-md-6">
                    <h4 class="mt-4">Datos de la escuela</h4>
                    <table class="table table-bordered">
                        <thead class="tabclr">
                            <tr>
                                <th>Escuela</th>
                                <th>Director</th>
                                <th>Encargado General</th>
                                <th>Director General</th>
                                <th>Director General Profesiones</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                                <tr>
                                    <td class="text-center">@Html.DisplayFor(x => Datos.NombreEscuela)</td>
                                    <td class="text-center">@Html.DisplayFor(x =>Datos.NombreDirector)</td>
                                    <td class="text-center">@Html.DisplayFor(x =>Datos.NombreEncargadoEstatal)</td>
                                    <td class="text-center">@Html.DisplayFor(x =>Datos.NombreDirectorGeneral)</td>
                                    <td class="text-center">@Html.DisplayFor(x =>Datos.NombreDirectorGeneralProfesiones)</td>
                                </tr>
                            
                        </tbody>
                    </table>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="col-md-4">
                    @*Form para recibir todos los nuevos datos y regresar al controlador en el metodo HTTPPOST*@
                    <form method="post" asp-action="Insertar" asp-controller="Escuelas">
                        <h4 class="mt-4">Actualizar Datos:</h4>
                        @*El id no se muestra pero se guarda*@
                        <input type="hidden" asp-for="ID" />
                        <div class="mb-3">
                            <label for="Institucion" class="form-label"><strong>Escuela:</strong></label>
                            <input type="text" class="form-control" id="NombreEscuela" name="NombreEscuela" value="@Datos.NombreEscuela" oninput="this.value = this.value.toUpperCase()"  required readonly>
                        </div>
                        <div class="mb-3">
                            <label for="Institucion" class="form-label"><strong>Director</strong></label>
                            <input type="text" class="form-control" id="NombreDirector" name="NombreDirector" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="mb-3">
                            <label for="Responsable" class="form-label"><strong>Responsable Estatal :</strong></label>
                            <input type="text" class="form-control" id="NombreEncargadoEstatal" name="NombreEncargadoEstatal" oninput="this.value = this.value.toUpperCase()"  required>
                        </div>
                        <div class="mb-3">
                            <label for="Institucion" class="form-label"><strong>Director General:</strong></label>
                            <input type="text" class="form-control" id="NombreDirectorGeneral" name="NombreDirectorGeneral" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="mb-3">
                            <label for="Institucion" class="form-label"><strong>Director General de Profesiones:</strong></label>
                            <input type="text" class="form-control" id="NombreDirectorGeneralProfesiones" name="NombreDirectorGeneralProfesiones" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="row mb-3 mb-4">
                            <div class="col-md-6">
                                <div class="button-row text-md-start text-center">
                                    <button type="reset" class="btn w-75 btnclr">Limpiar</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="button-row text-md-end text-center">
                                    <button type="submit" class="btn w-75 btnclr">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>