@using Microsoft.AspNetCore.Identity
@model Escuela
@{
    ViewBag.Title = "Datos Escolares";
    Layout = "_Layout";
    cbtis223Context ct = new cbtis223Context();
    IList<Escuela> escuelas = await ct.GetEscuelas();
    Escuela Datos = ViewBag.Datos;
}
<div style="color:red">
    <!-- Muestra un mensaje de error en color rojo -->
    <strong>@ViewBag.Error</strong>
</div>
<div style="color:green">
    <!-- Muestra un mensaje de exito en color verde -->
    <strong>@ViewBag.Succesful</strong>
</div>

            <div class="row">
                <!-- Tabla -->
                <div class="text-center">
                    <!-- Remove col-md-6 class here -->
                    <h4 class="mt-4">Datos de la escuela</h4>
                    <table class="table table-bordered">
                        <thead class="tabclr">
                            <tr>
                                <th>Escuela</th>
                                <th>Director</th>
                                <th>Encargado General</th>
                                <th>Director General</th>
                                <th>Director General Profesiones</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in escuelas)
                            {
                                <tr>
                                    <td class="text-center">@Html.DisplayFor(x => item.NombreEscuela)</td>
                                    <td class="text-center">@Html.DisplayFor(x => item.NombreDirector)</td>
                                    <td class="text-center">@Html.DisplayFor(x => item.NombreEncargadoEstatal)</td>
                                    <td class="text-center">@Html.DisplayFor(x => item.NombreDirectorGeneral)</td>
                                    <td class="text-center">@Html.DisplayFor(x => item.NombreDirectorGeneralProfesiones)</td>
                                    <td>
                                        @*Boton para dirigir a la vista donde recibes nuevos datos*@
                                        <a class="btn btnclr btn-sm" asp-action="Editar" asp-controller="Escuelas"
                                           asp-route-id="@item.ID" title="Editar datos de @item.NombreEscuela">
                                            <i class="button-row">EDITAR</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
