@using Microsoft.AspNetCore.Identity
@using CBTIS223_v2.Models
@{
   //ViewData["Title"] = "Institucion";
    ViewBag.Title = "Instituciones";
    Layout = "_Layout";
    cbtis223Context ct = new cbtis223Context();
    IList<Institucione> instituciones = await ct.GetInstituciones();
}

<div style="color:red">
    <!-- Muestra un mensaje de error en color rojo -->
    <strong>@ViewBag.Error</strong>
</div>
<div style="color:green">
    <!-- Muestra un mensaje de exito en color verde -->
    <strong>@ViewBag.Succesful</strong>
</div>

            <div class="row">
                <!-- Left Column: User Creation -->
                <div class="col-md-4">
                    <form method="post" asp-action="InsertarInstitucion" asp-controller="Instituciones">
                        <h4 class="mt-4">Institucion CRUD</h4>
                        <div class="mb-3">
                            <label for="Institucion" class="form-label"><strong>ID:</strong></label>
                            <input type="number" class="form-control" id="IdInstitucion" name="IdInstitucion" required>
                        </div>
                        <div class="mb-3">
                            <label for="Institucion" class="form-label"><strong>Institucion:</strong></label>
                            <input type="text" class="form-control" id="Institucion" name="Institucion" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="Tipo" class="form-label"><strong>Tipo:</strong></label>
                                <select class="form-select" id="TipoInstitucion" name="TipoInstitucion" required>
                                    <option selected>Selecciona el tipo de institucion</option>
                                    <option value="Publica">Publica</option>
                                    <option value="Privada">Privada</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Responsable" class="form-label"><strong>Responsable de la institucion:</strong></label>
                            <input type="text" class="form-control" id="Supervisor" name="Supervisor" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="mb-3">
                            <label for="Calle" class="form-label"><strong>Calle:</strong></label>
                            <input type="text" class="form-control" id="Calle" name="Calle" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="mb-3">
                            <label for="NoCalle" class="form-label"><strong>No. Calle:</strong></label>
                            <input type="text" class="form-control" id="NoCalle" name="NoCalle" pattern="[0-9]{1,10}" title="El formato debe ser numerico Ej. 112" required>
                        </div>
                        <div class="mb-3">
                            <label for="CodigoPostals" class="form-label"><strong>Codigo Postal:</strong></label>
                            <input type="text" class="form-control" id="CodigoPostal" name="CodigoPostal" pattern="[0-9]{5}" title="El formato debe ser numerico Ej. 12345" required>
                        </div>
                        <div class="mb-3">
                            <label for="Colonia" class="form-label"><strong>Colonia:</strong></label>
                            <input type="text" class="form-control" id="Colonia" name="Colonia" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="mb-3">
                            <label for="Municipio" class="form-label"><strong>Municipio:</strong></label>
                            <input type="text" class="form-control" id="Municipio" name="Municipio" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="mb-3">
                            <label for="Estado" class="form-label"><strong>Estado:</strong></label>
                            <input type="text" class="form-control" id="Estado" name="Estado" oninput="this.value = this.value.toUpperCase()" required>
                        </div>
                        <div class="row mb-3 mb-4">
                            <div class="col-md-6">
                                <div class="button-row text-md-end text-center">
                                    <button type="submit" class="btn w-75 btnclr">Crear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Tabla -->
                <div class="col-md-6">
                    <h4 class="mt-4">Lista de Instituciones</h4>
                    <table class="table table-bordered">
                        <thead class="tabclr">
                            <tr>
                                <th>ID</th>
                                <th>Institución</th>
                                <th>Tipo</th>
                                <th>Responsable</th>
                                <th>Calle</th>
                                <th>NoCalle</th>
                                <th>CodigoPostal</th>
                                <th>Colonia</th>
                                <th>Municipio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in instituciones)
                            {
                                <tr>
                                    <td>@item.IdInstitucion</td>
                                    <td>@item.Institucion</td>
                                    <td>@item.TipoInstitucion</td>
                                    <td>@item.Supervisor</td>
                                    <td>@item.Calle</td>
                                    <td>@item.NoCalle</td>
                                    <td>@item.CodigoPostal</td>
                                    <td>@item.Colonia</td>
                                    <td>@item.Municipio</td>
                                    <td>@item.Estado</td>
                                    <td>
                                        <a asp-action="Editar" asp-controller="Instituciones" class="btn btnclr btn-sm mb-1" asp-route-id="@item.IdInstitucion">Editar</a>
                                        <a asp-action="Eliminar" asp-controller="Instituciones" class="btn btnclr btn-sm" asp-route-id="@item.IdInstitucion">Eliminar</a>
                                    </td> 
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>