@using Microsoft.AspNetCore.Identity
@model EstudiantesServicio
@{
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    EstudiantesServicio Estudiante = ViewBag.estudiante;
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>Practicas Profesionales</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- Bootstrap-datepicker CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    -->
    <!-- Bootstrap JavaScript and Popper.js -->  <!-- Permite funcionar el menu minimizado -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <!-- Bootstrap-datepicker -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

    <!-- JS
    <script src="~/js/periodo.js"></script> -->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/registro.css" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body class="bg-white">
    <div class="wrapper">
        <!-- Barra de navegacion -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
            <a class="navbar-brand" href="#">
                <img src="~/imagenes/cbtis.jpg" alt="Logo" class="navbar-logo">
            </a>
            <!-- Boton donde colapsa el menu al ser minimizado-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Clase que permite colapsar al menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!-- Oculta el boton para cualquier rol fuera de esta lista -->
                        @if (User.IsInRole("jefeVinc") || User.IsInRole("Root") || User.IsInRole("jefeDep") || User.IsInRole("ofPrac"))
                        {
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Registro2">Practicas Profesionales</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (User.IsInRole("jefeEsc") || User.IsInRole("Root") || User.IsInRole("jefeDep") || User.IsInRole("ofServ"))
                        {
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Registro">Servicio Social</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Documentos">Documentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Estadisticas">Estadísticas</a>
                    </li>
                    <li class="nav-item">
                        @if (User.IsInRole("Root"))
                        {
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Institucion">Instituciones</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (User.IsInRole("Root"))
                        {
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Escuela">Datos Escolares</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Acceso" asp-action="Login">Cerrar sesion</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <form method="post" asp-action="InsertarRegistros" asp-controller="Registros2">
                <!--Numero de control y Nombre-->
                <div class="row mb-3">
                    <h4 class="mt-4">Registro Practicas Profesionales</h4>
                    <div class="col-md-6">
                        <input type="hidden" asp-for="NumeroControl" />
                        <div class="form-group">
                            <label asp-for="NumeroControl" class="form-label"><strong>NUMERO DE CONTROL</strong></label>
                            <input asp-for="NumeroControl" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="Nombre" class="form-label"><strong>NOMBRE(s)</strong> </label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre"  value="@Estudiante.Nombre" readonly/>
                    </div>
                </div>

                <!--Apellidos-->
                <div class="row mb-3">
                    <div class="col-md-6 ">
                        <label for="ApellidoPaterno" class="form-label"><strong>APELLIDO PATERNO</strong> </label>
                        <input type="text" class="form-control" id="ApellidoPaterno" name="ApellidoPaterno" value="@Estudiante.ApellidoPaterno" readonly />
                    </div>
                    <div class="col-md-6 ">
                        <label for="ApellidoPaterno" class="form-label"><strong>APELLIDO MATERNO</strong> </label>
                        <input type="text" class="form-control" id="ApellidoMaterno" name="ApellidoMaterno" value="@Estudiante.ApellidoMaterno" readonly />
                    </div>
                </div>

                <!--CURP y Especialidad-->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="ApellidoPaterno" class="form-label"><strong>CURP</strong> </label>
                        <input type="text" class="form-control" id="Curp" name="Curp" value="@Estudiante.Curp" readonly />
                    </div>

                    <div class="col-md-6">
                        <label for="ApellidoPaterno" class="form-label"><strong>ESPECIALIDAD</strong> </label>
                        <input type="text" class="form-control" id="Especialidad" name="Especialidad" value="@Estudiante.Especialidad" readonly />
                    </div>
                </div>

                <!--Ciclo Escolar-->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="Ciclo" class="form-label"><strong>CICLO ESCOLAR</strong> </label>
                        <input type="text" class="form-control" id="Ciclo" name="Ciclo" value="@Estudiante.Ciclo" readonly />
                    </div>
                </div>

                <!--ID instituciones-->
                <!--Institucion-->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <!-- Seleccionar institucion -->
                        <div class="col-md-6">
                            <label for="IdInstiServicio" class="form-label"><strong>Selecciona la Institucion</strong> </label>
                            @Html.DropDownList("IdInstiPracticas",items,"",new {@class="form-select"})
                        </div>

                    </div>
                    <div class="col-md-6">
                        <!--Lectura de actividad que realiza el alumno en su servicio-->
                        <label for="Actividad_Servicio" class="form-label"><strong>Actividad que realiza:</strong> </label>
                        <input type="text" class="form-control" id="actividad_practicas" name="actividad_practicas"
                               oninput="this.value = this.value.toUpperCase()" required>
                    </div>
                </div>

                <!--Periodo-->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FechaInicio" class="form-label"><strong>Fecha Inicio:</strong></label>
                            <div class="input-group">
                                <input type="date" id="FechaInicio" pattern="\d{4}/\d{2}/\d{2}" placeholder="aaaa/mm/dd" name="FechaInicioPracticas" class="form-control" required>
                                <!--<div class="input-group-append">
                                    <span class="input-group-text Inicio" id="FechaInicioServicio" name="FechaInicioServicio" style="cursor: pointer;">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FechaFinal" class="form-label"><strong>Fecha Final:</strong></label>
                            <div class="input-group">
                                <input type="date" id="FechaFinal" pattern="\d{4}/\d{2}/\d{2}" placeholder="aaaa/mm/dd" name="FechaTerminoPracticas" class="form-control" required>
                                <!--<div class="input-group-append">
                                    <span class="input-group-text Fin" id="FechaTerminoServicio" name="FechaTerminoServicio" style="cursor: pointer;">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    const input = document.getElementById('FechaInicio');
                    input.addEventListener('change', () => {
                        console.log(input.value);
                    });
                    const input2 = document.getElementById('FechaFinal');
                    input2.addEventListener('change', () => {
                        console.log(input2.value);
                    });
                </script>
                <!--Botones-->
                <div class="row mb-3 mb-4">
                    <div class="col-md-6">
                        <button type="reset" class="btn w-25 btnclr button-row ">Limpiar</button>
                    </div>
                    <div class="col-md-6 text-end">
                        <button type="submit" class="btn w-25 btnclr button-row">Registro</button>
                    </div>
                </div>

            </form>
        </div>
        <footer>
            <p>CBtis 223 &copy; 2023. Todos los derechos reservados.</p>
            <p>Contacto: </p>
        </footer>
    </div>
</body>

</html>
